<div ng-controller="userController">
    <p> <a href="#!/">DashBoard</a>  | <a href="#!/products">Products</a>  | <a href="#!/orders">Orders</a>  | <b>Customers</b> </p>





    <h4><u>Add a new customer</u></h4>
    <p style="color:red;" ng-if="userError">{{userError}}</p>
    <form name="makeUserForm"ng-submit="createUser(userObj)">
        <label>First Name: </label>
        <input type="text" name="firstName" ng-model="userObj.firstName">
        <label>Last Name: </label>
        <input type="text" name="lastName" ng-model="userObj.lastName">
        <button type="submit">Add Customer</button>
    </form>

    <table>
        <tr>
            <td>Customer Name </td>
            <td>Created Date </td>
            <td>Actions</td>
        </tr>
        <tr ng-repeat="customer in customers">
            <td>{{customer.firstName}} {{customer.lastName}}</td>
            <td>{{customer.createdAt | date:'MMM d,yyyy'}}</td>
            
            <td><form ng-submit="deleteUser(customer._id)"><button type="submit">Delete</button></form></td>
        </tr>

    </table>



</div>